<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">

  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800 text-center">
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-6 lg:gap-xl-12">
      <div class="mb-12 lg:mb-0">
        <img class="rounded-lg shadow-lg mb-6 mx-auto" src="/assets/img/clientes/ecopetrol.png"
             alt="avatar" style="width: 150px" />
        <h5 class="text-lg font-bold mb-4">Ecopetrol</h5>
        <p class="mb-6">Compañía de petróleo de Colombia</p>
        <ul class="list-inside flex mx-auto justify-center">
          <a href="#!" class="px-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4 text-yellow-500">
              <path fill="currentColor"
                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
            </svg>
          </a>
        </ul>
      </div>
      <div class="mb-12 lg:mb-0">
        <img class="rounded-lg shadow-lg mb-6 mx-auto" src="/assets/img/clientes/concremack.png"
             alt="avatar" style="width: 150px" />
        <h5 class="text-lg font-bold mb-4">Concremack</h5>
        <p class="mb-6">Ingeniería y construcción de proyectos</p>
        <ul class="list-inside flex mx-auto justify-center">
          <a href="#!" class="px-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4 text-yellow-500">
              <path fill="currentColor"
                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
            </svg>
          </a>
        </ul>
      </div>
      <div class="mb-12 md:mb-0">
        <img class="rounded-lg shadow-lg mb-6 mx-auto" src="/assets/img/clientes/kroil.png"
             alt="avatar" style="width: 150px" />
        <h5 class="text-lg font-bold mb-4">Croil</h5>
        <p class="mb-6"> Servicios e Ingeniería</p>
        <ul class="list-inside flex mx-auto justify-center">
          <a href="#!" class="px-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4 text-yellow-500">
              <path fill="currentColor"
                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
            </svg>
          </a>
        </ul>
      </div>
      <div class="mb-12 md:mb-0">
        <img class="rounded-lg shadow-lg mb-6 mx-auto" src="/assets/img/clientes/pegsa.png"
             alt="avatar" style="width: 150px" />
        <h5 class="text-lg font-bold mb-4">PEGSALTDA</h5>
        <p class="mb-6">Generando energia limpia</p>
        <ul class="list-inside flex mx-auto justify-center">
          <a href="#!" class="px-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4 text-yellow-500">
              <path fill="currentColor"
                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
            </svg>
          </a>
        </ul>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->
