<li class="nav-item dropdown static">
  <a class="nav-link block pr-2 lg:px-2 py-2 text-white hover:text-yellow-400 focus:text-yellow-400 transition duration-150 ease-in-out dropdown-toggle flex items-center whitespace-nowrap" href="#" data-mdb-ripple="true" data-mdb-ripple-color="light" type="button" id="dropdownMenuButtonU" data-bs-toggle="dropdown"
     aria-expanded="false">Servicios
    <svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="w-2 ml-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
      <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
    </svg>
  </a>
  <div class="dropdown-menu w-full mt-0 hidden shadow-lg bg-gray-200 absolute left-0 top-full" aria-labelledby="dropdownMenuButtonU">
    <div class="px-6 lg:px-8 py-5">
      <div class="grid md:grid-cols-6 gap-6">
        <div class="bg-gray-200">
          <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Montajes Mencanicos</p>
          <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img src="/assets/img/servicios/s1.png" class="w-full rounded-md shadow-lg" alt="Louvre" />
            <a
              [routerLink]="['/servicios/montajes']"
              routerLinkActive
            >
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
            </a>
            <div class="flex items-center justify-between mt-1 mb-3">
              <p class="text-gray-700">
                Somos especialistas en montajes mecánicos de equipos rotativos y estáticos,
                tanto verticales como horizontales, así como también nos encargamos de
                realizar procesos de alineación y ajuste, dejando las máquinas listas para
                precomisionamiento y comisionamiento.
              </p>
            </div>
          </div>
        </div>
        <div class="bg-gray-200">
          <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Control y aseguramiento</p>
          <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img src="/assets/img/servicios/s3.png" class="w-full rounded-md shadow-lg" alt="Louvre" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
            </a>
          </div>
        </div>
        <div class="bg-gray-200">
          <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Control y aseguramiento</p>
          <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img src="/assets/img/servicios/s4.png" class="w-full rounded-md shadow-lg" alt="Louvre" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
            </a>
          </div>
        </div>
        <div class="bg-gray-200">
          <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Soporte <br />Tecnico</p>

          <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img src="/assets/img/servicios/s5.png" class="w-full rounded-md shadow-lg" alt="Louvre" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
            </a>
          </div>
        </div>
        <div class="bg-gray-200">
          <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Pruebas <br /> de seguridad</p>
          <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img src="/assets/img/servicios/s6.png" class="w-full rounded-md shadow-lg" alt="Louvre" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
            </a>
          </div>
        </div>
        <div class="bg-gray-200">
          <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Alquiler<br /> de equipos</p>
          <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img src="/assets/img/servicios/s2.png" class="w-full rounded-md shadow-lg" alt="Louvre" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
            </a>
          </div>
          <div class="flex items-center justify-between mt-1 mb-3">
            <div><a href="https://api.whatsapp.com/send?phone=573112231139">
              <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_rrh7flmb.json"  background="transparent"  speed="1"  loop autoplay></lottie-player>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

