<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">

  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800 text-center lg:text-left">
    <div class="block rounded-lg shadow-lg bg-white">
      <div class="flex flex-wrap items-center">
        <div class="grow-0 shrink-0 basis-auto hidden lg:flex lg:w-6/12 xl:w-4/12">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/nyssolucionesintegrales-46858.appspot.com/o/imagenes%2Fsus.jpg?alt=media&token=dd743d49-d890-4e57-a604-6e0610b76d9b"
            alt="Pruebas Hidrostáticas"
            class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg"
          />
        </div>
        <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 xl:w-8/12">
          <div class="px-6 py-12 md:px-12">
            <h2 class="text-3xl font-bold mb-6">
              Nos caracterizamos en servir a la comunidad para realizar obras de calidad,
              implementando mejora continua en nuestros procesos.
              <br />
              <span class="text-pink-600">Suscríbete al boletín</span>
            </h2>
              <div class="fb-page"
                   data-href="https://www.facebook.com/profile.php?id=100082006130733"
                   data-tabs="timeline"
                   data-width=""
                   data-height=""
                   data-small-header="false"
                   data-adapt-container-width="true"
                   data-hide-cover="false"
                   data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/profile.php?id=100082006130733"
                            class="fb-xfbml-parse-ignore">
                  <a href="https://www.facebook.com/profile.php?id=100082006130733">N&amp;S Soluciones Integrales</a>
                </blockquote>
            </div>
            <div class="md:flex flex-row">

            </div>
            <div *ngIf="alertFormatoIncorrecto === 'true'" class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert">
              Incluye un signo '@' en la direccion de correo electrónico
            </div>
            <div *ngIf="alertTextoVacio === 'true'" class="bg-yellow-100 rounded-lg py-5 px-6 mb-4 text-base text-yellow-700 mb-3" role="alert">
              Completa este campo.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->
