<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">

  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800">
    <!-- Jumbotron -->
    <div class="container mx-auto xl:px-32 text-center lg:text-left">
      <div class="grid lg:grid-cols-2 flex items-center">
        <div class="mb-12 lg:mb-0">
          <div class="block rounded-lg shadow-lg px-6 py-12 md:px-12 lg:-mr-14"
               style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px)">
            <h2 class="text-3xl font-bold mb-6">Nuestra Empresa</h2>

            <p class="text-gray-500 mb-0">
              Somos una empresa colombiana que ofrece servicios de excelente calidad para la industria, ofrecemos soluciones integrales mediante aplicación de las normas que rigen los procesos, entregando proyectos a satisfacción total de nuestros clientes.
              Contamos con personal calificado, comprometido y con calidad humana, para la prestación de servicios con la mejor calidad posible.
              Nos caracterizamos por nuestros altos niveles de calidad en los procesos, por la calidad del personal con el que contamos, y por la calidad de nuestros equipos tecnológicos usados para desempeñar las diferentes actividades.
              Estamos comprometidos con el cuidado ambiental, capacitando al personal sobre manejo de residuos así como también el cuidado de la fauna y flora de nuestra región y país.
            </p>
          </div>
        </div>

        <div>
          <img src="https://firebasestorage.googleapis.com/v0/b/nyssolucionesintegrales-46858.appspot.com/o/imagenes%2Fempresa.jpg?alt=media&token=db63418e-beb2-4a12-8175-c7faa6bd0917"
               class="w-full rounded-lg shadow-lg"
               alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->
