<app-navbar-index></app-navbar-index>
<app-carusel></app-carusel>
<app-calltoactions></app-calltoactions>
<div class="container my-24 px-6 mx-auto">
  <div class="flex space-x-2 justify-center">
    <h2 class="text-4xl font-medium leading-tight text-gray-800">
      ¿Donde
      <span class="inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-yellow-500 text-white rounded">Estamos?</span>
    </h2>
  </div>
</div>
<app-contactus></app-contactus>
<div class="container my-24 px-6 mx-auto">
  <div class="flex space-x-2 justify-center">
    <h2 class="text-4xl font-medium leading-tight text-gray-800">
      Nuestros
      <span class="inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-yellow-500 text-white rounded">Clientes</span>
    </h2>
  </div>
</div>
<app-clients></app-clients>
<app-footer></app-footer>
