<div class="bg-green-100 rounded-lg py-5 px-6 mb-4 text-base text-green-700 mb-3" role="alert">
  A simple success alert with <a href="#" class="font-bold text-green-800">an example link</a>. Give it a click if you like.
</div>
<div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert">
  A simple danger alert with <a href="#" class="font-bold text-red-800">an example link</a>. Give it a click if you like.
</div>
<div class="bg-yellow-100 rounded-lg py-5 px-6 mb-4 text-base text-yellow-700 mb-3" role="alert">
  A simple warning alert with <a href="#" class="font-bold text-yellow-800">an example link</a>. Give it a click if you like.
</div>
